<footer>
    <nav class="footer-legal">
        <a href="{{ path('app_mentions_legales') }}">Mentions légales</a> |
        <a href="{{ path('app_accessibilite') }}">Accessibilité</a> |
        <a href="{{ path('app_cookies') }}">Cookies</a> |
        <a href="{{ path('app_politique_confidentialite') }}">Confidentialité</a> |
        <a href="{{ path('app_cgv') }}">CGV</a> |
        <a href="{{ path('app_cgu') }}">CGU</a>
    </nav>

    <div>© {{ "now"|date("Y") }} - Cassandre System</div>
</footer>
